<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ratingModal">
    Launch static backdrop modal
  </button> -->
  
<!-- Modal -->
<div class="modal fade" id="questionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Car Picked?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="" style="position: relative;">
                <p>Have you picked the car?</p>
                <div class="d-flex">
                    <button type="button" 
                        data-bs-toggle="modal" 
                        data-bs-target="#ratingModal"
                        class="btn btn-success mx-1 w-25">Yes</button>
                    <button id="qModalBtn" type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>