
<div class="container">
  <div class="row py-3">
    <div class="col-md-12">
      <form action="{{ url_for('vehicle_sort') }}" class="d-flex align-items-center">
        <span class="text-light mx-1">Sort By:</span>
        <div class="w-50">
          <div class="d-flex">
            
            <select id="sortInput" name="sort" class="form-select mx-1" aria-label="Default select example">
              <option selected disabled>---Sort By---</option>
              <option value="price">Price (Low to High)</option>
              <option value="mpg">Mileage (High to Low)</option>
              <option value="seats">Number of seats (High to Low)</option>
            </select>

            <select id="catInput" name="cat" class="form-select mx-1" aria-label="Default select example">
              <option selected disabled>---Cars Category---</option>
              <option  value="all-cars">All Cars</option>
              <option value="small-to-full">Small to full Size</option>
              <option value="suv">SUVs</option>
              <option value="luxury">Luxury & Convertibles</option>
            </select>

            <button type="submit" class="btn btn-sm btn-secondary w-50">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>