<div class="container">
  <div class="row">
    <div class="col-md-11 mx-auto">
      <hr>
      <br>
      <form class="row" method="GET" action="{{ url_for('cars_search') }}">
        <div class="col-auto">
          <input type="text" class="form-control" id="" name="price" placeholder="Price range i.e 150-200">
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" id="" name="mpg" placeholder="mpg range i.e 15-20 or 15/20">
        </div>
        <div class="col-auto">
          <input type="number" class="form-control" id="" name="seats" placeholder="number of seats i.e 4">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-outline-secondary mb-3">Search</button>
        </div>
      </form>
      <hr>
      <br>
    </div>
  </div>
</div>
