<!DOCTYPE html>
<html>
    <head>
        <meta charset= "utf-8">
        <meta name="viewport" content=" width=device-width">
        <title>
            {% block title %}{% endblock %}
        </title>
        <style media="screen">
        .footer{
          margin-top: 20px;
          background-color: #333;
          color: #fff;
          height: 70px;
          text-align: center;
          padding: 20px;
        }

        .img{
          width: 80px;
          margin-left: 0;
          margin-right: 0;
          transform: translateX(10px);
        }
        </style>


        {% block head %}{% endblock %}

        <!--Bootstrap CSS-->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{url_for('static' , filename= 'style.css')}}">
        
        <body>
            <header>
              <a href="#main" class="skip">Skip to main content</a>
            </header>
  <nav class="navbar navbar-expand-lg navbar-light pt-3 pb-4" style="background-color: #FFFFFF">
            <div class="container">
              <a class="navbar-brand" aria-current="page" id="website-name" href="">
                <img class="img" src="/static/img/logo.png" alt=""> 
                <strong>Skyline Car Rental<span class="material-icons">
                </span></strong></a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('homepage') }}?cat=all-cars">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_car') }}?cat=all-cars">Cars</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/trip">Reservation</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about_us') }}">About</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact_us') }}">Contact</a>
                  </li>

                  <!-- <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('favourite_cars') }}">Favourites</a>
                  </li> -->

                  {% if session.get('user_email') %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('favourite_cars') }}">Favorites</a>
                    </li>
                  {% endif %}


                    <li class="nav-item dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Select a Category
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{{ url_for('all_car') }}?cat=all-cars">All cars</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('all_car') }}?cat=small-to-full">Small to Full Size</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('all_car') }}?cat=luxury">Luxury & Convertibles</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('all_car') }}?cat=suv">SUVs</a></li>

                      </ul>
                    </li>

                </ul>
                <br>
                {% if not session.get('user_email') %}
                  <a class="nav-link" href="/login">
                    <button class="btn btn-success">
                      Login
                    </button>
                  </a>
                  <a class="nav-link" href="/register">
                    <button class="mx-2 btn btn-outline-secondary">
                      Register
                    </button>
                  </a>
                {% else %}
                    <a class="btn btn-outline-success mx-2" href="/profile">My Profile</a>
                    <form class="d-flex" action="/logout" method="post">
                      <button class="btn btn-dark" type="submit">Logout</button>
                    </form>
                {% endif %}

              </div>
            </div>
          </nav>

            <!-- {% for msg in get_flashed_messages() %}
              <div class="container pt-2">
                <p class="flash-msg">
                  {{ msg }}
                </p>
              </div>
            {% endfor %} -->

            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <div class="container pt-2">
                {% for category, message in messages %}
                  {% if category == 'error' %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                      <div>
                        {{ message }}
                      </div>
                    </div>
                  {% endif %}

                  {% if category == 'success' %}
                    <div class="alert alert-success d-flex align-items-center" role="alert">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                      <div>
                        {{ message }}
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

    {% block body %}{% endblock %}
    <footer class="row footer gx-0">
      <div class="container text-center">
          <p>Skyline Car Rental &copy; 2023, All Rights Reserved</p>
      </div>
  </footer>
  </body>
    {% block after_body %}{% endblock %}
