{% extends 'base.html' %}

{% block title %}Trip{% endblock %}

{% block body %}

    <!-- main container -->
    <div class="container" id="main">
        <div class="row no-gutters">
          <div class="col-md-7">
              <div class="mx-auto">
                  <h5>Booking Confirmation</h5>
                  <div class="card">
                      <div class="card-body">
                        <h5>User: <span class="text-muted" style="font-size: 24px;">{{ booking.fname|capitalize }}</span></h5>
                        <h5>Car: <span class="text-muted" style="font-size: 24px;">{{ booking.car_name|capitalize }}</span></h5>
                        <h5>Price/Day: <span class="text-muted" style="font-size: 24px;">{{ booking.car_ppd }}</span></h5>
                        <h5>Pick-Up Location: <span class="text-muted" style="font-size: 24px;">{{ booking.pick_location }}</span></h5>
                        <h5>Drop-Off Location: <span class="text-muted" style="font-size: 24px;">{{ booking.drop_location }}</span></h5>
                        <h5>Pick-Up Date/time: <span class="text-muted" style="font-size: 24px;">{{ booking.pick_date }}</span></h5>
                        <h5>Drop-Off Date/time: <span class="text-muted" style="font-size: 24px;">{{ booking.drop_date }}</span></h5>
                        <h5>Total day(s): <span class="text-muted" style="font-size: 24px;">{{ booking.total_days }} day(s)</span></h5>
                        <br>
                        <h5>Total amount: <span class="text-muted" style="font-size: 24px;">${{ booking.amount }}</span></h5>
                      </div>
                    </div>
              </div>
          </div>
    </div>


{% endblock %}

{% block after_body %}

{% endblock %}