{% extends 'base.html' %}

{% block title %}Trip{% endblock %}

{% block body %}

    <!-- main container -->
    <div class="container">
        <div class="row no-gutters">
          <div class="col-md-5">
            <div>
              <h5>Checkout Info</h5>
              <div class="card" style="height: 65vh;">
                <div class="card-body">
                  <form action="{{ url_for('confirm_booking') }}" method="POST">
                    <input type="hidden" value="{{ booking.car }}" name="car_id">
                    <input type="hidden" value="{{ booking.user }}" name="user_id">
                    <input type="hidden" value="{{ booking.pick_location }}" name="pick_location">
                    <input type="hidden" value="{{ booking.drop_location }}" name="drop_location">
                    <input type="hidden" value="{{ booking.pick_date }}" name="pick_date">
                    <input type="hidden" value="{{ booking.drop_date }}" name="drop_date">
                    <input type="hidden" value="{{ booking.pick_time }}" name="pick_time">
                    <input type="hidden" value="{{ booking.drop_time }}" name="drop_time">
                    
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon3">Card Number</span>
                      <input type="number" name="cardNumber" placeholder="1111 2222 3333 4444"
                            class="form-control" required>
                    </div>
    
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon3">Card Code</span>
                      <input type="number" name="cardCode" placeholder="123 i.e 3 digits"
                            class="form-control" required>
                    </div>
    
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon3">Card Expire</span>
                      <input type="text" name="cardExp" placeholder="01/22"
                            class="form-control" required>
                    </div>

                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon3">Total Amount</span>
                      <input type="text" name="" placeholder=""
                            class="form-control" value="${{ booking.amount }}" disabled>
                    </div>
                    
                    <button type="submit" name="confirm" value="1" class="btn btn-success" style="width: 180px; font-size:18px; font-weight:500">Confirm Booking</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7">
              <div class="mx-auto">
                  <h5>Booking Details</h5>
                  <div class="card">
                      <div class="card-body">
                        <h5>User: <span class="text-muted" style="font-size: 24px;">{{ booking.fname|capitalize }}</span></h5>
                        <h5>Car: <span class="text-muted" style="font-size: 24px;">{{ booking.car_name|capitalize }}</span></h5>
                        <h5>Price/Day: <span class="text-muted" style="font-size: 24px;">{{ booking.car_ppd }}</span></h5>
                        <h5>Pick Up Location: <span class="text-muted" style="font-size: 24px;">{{ booking.pick_location }}</span></h5>
                        <h5>Drop Off Location: <span class="text-muted" style="font-size: 24px;">{{ booking.drop_location }}</span></h5>
                        <h5>Pick Up Date/time: <span class="text-muted" style="font-size: 24px;">{{ booking.pick_date }}</span></h5>
                        <h5>Drop Off Date/time: <span class="text-muted" style="font-size: 24px;">{{ booking.drop_date }}</span></h5>
                        <h5>Total day(s): <span class="text-muted" style="font-size: 24px;">{{ booking.total_days }} day(s)</span></h5>
                        <br>
                        <h5>Total amount: <span class="text-muted" style="font-size: 24px;">${{ booking.amount }}</span></h5>
                      </div>
                    </div>
              </div>
          </div> 
    </div>


{% endblock %}

{% block after_body %}

{% endblock %}