{% extends 'base.html' %}

{% block title %}Skyline Car Rental | Favourite{% endblock %}

{% block body %}
<style>
	form.hide-submit input[type="submit"] { display: none;}
	form.hide-submit label:hover {cursor: pointer;}

	.car-type{
		font-size: 20px;
		font-weight: 700;
		font-family: serif;
	}
	.car-detail{
		font-size: 19px;
		font-family: serif;
	}

	.cst-mg{
		margin-top: 60px;
	}
</style>
<div class="container cst-mg" style="height:100%; min-height: 100vh;" id="main">
	<div class="row">
		{% if cars %}
		{% for car in cars %}
		<div class="col-md-8 mb-3">
			<div class="car bg-white py-3" style="position: relative;">
				<div class="row">
					<div class="col-md-8">
						<a href="{{ url_for('show_car', car_id=car.car_id) }}">
							<img src="{{ url_for('static', filename='img/'+car.car_img.strip()) }}"
								alt=""
								class="mx-auto d-block mt-3">
						</a>
						<!-- <div style="font-size: 12px;" class="text-center">Category: <span>{{car.category}}</span></div> -->
					</div>
					<div class="col-md-4 position-relative">
					  <div style="" class="car-type"><span class="text-muted"></span> <span>{{car.vehicle_type|capitalize}}</span></div>
						<div style="" class="mt-3 car-detail"><span class="text-muted">Name:</span> <span>{{car.vehicle_name}}</span></div>
						<div style="" class="car-detail"><span class="text-muted">MPG:</span> <span>{{car.mpg}}</span></div>
						<div style="" class="car-detail"><span class="text-muted">Charges/Day:</span> <span>{{car.per_day_charges}}</span></div>
					</div>
				</div>
				<div class="fav" style="position: absolute; left: 15px; bottom: 5px">
					{% with pageName='favourites' %}
		            	{% include 'partials/_favourite.form.html' %}
		          	{% endwith %}
				</div>
				<div class="row">
					<div class="col-md-7 d-flex">

					</div>
					<div class="col-md-5 d-flex">
						<span class="badge bg-warning text-dark mx-1"
							style="font-size: 11px;">
							{{ car.seats }}
						</span>
						<span class="badge bg-warning text-dark"
							style="font-size: 11px;">
							{{ car.doors }}
						</span>
					  <a href="{{ url_for('show_car', car_id=car.car_id) }}" class="text-decoration-none mx-2 badge bg-success text-dark"
						  style="font-size: 11px; color: white !important;">
						  view car
					  </a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<div class="col-md-12">
			<h5>No favorites car yet</h5>
		</div>
		{% endif %}
	</div>
</div>
{% endblock body %}
