{% extends 'base.html' %}
{% block title %} Skyline Car Rental {% endblock %}


{% block body %}

<body class="background-image-homepage-container">
    <div class="container">
        <div class="col-3">
            <div class="row">
                <div class="col">
                    <h2 is="slogan2" class="text-center">Enjoy Renting with Us!
                         </h2>
                         <br>
                         <h5 id="slogan2" class="text-center">Find your Best Car Rentl with Skyline 
                         </h5>  
                         <img class="homepage centered-img heading-margin" src="/static/back_img/homepage.png">
                        </div> 
                </div>
            </div>
        </div> 
</body>
{% endblock %}

