{% extends 'base.html' %}

{% block title %}Skyline Car Rental{% endblock %}

{% block body %}
<style>
	form.hide-submit input[type="submit"] { display: none;}
	form.hide-submit label:hover {cursor: pointer;}
	.carousal-img{
		height: 540px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.overlay{
		background-color: rgba(0, 0, 0, 0.3);
		width: 100%;
		height: 100%;
	}
	.carousel-cap{
		position: absolute;
		bottom: 120px;
		left: 40px;
		color: white;
		z-index: 9999;
	}
	.carousel-cap h5{
		font-size: 52px;
	}
	.carousel-cap p{
		font-size: 24px;
	}
	.carousel-cap a{
		font-size: 22px;
		font-weight: 500;
		color: white;
		width: 40%;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 30px;
		padding-right: 30px;
		background-color: #B71C1C;
		border-radius: 3px;
		text-align: center;
		text-decoration: none;
	}
	.carousel-cap a:hover{
		background-color: #aa0707;
	}

	.cat-text h4{
		font-size: 38px;
		text-align: center;
	}

	.cat-img{
		height: 480px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.cat-overlay{
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
	}

	.cat-overlay:hover{
		background-color: rgba(0, 0, 0, 0.5);
	}

	.cat-overlay .cat-text{
		position: absolute;
		color: white;
		bottom: 10px;
		left: 10px;
	}

	video{
        width: 100%;
        height: 450px;
        z-index: -999;
        object-fit: cover;
        /* -webkit-transform: scaleY(1.3);
        -moz-transform: scaleY(1.3); */
	}

	.vid-container{
		position: relative;
	}

	.vid-container video {
		width: 100%;
		display: block;
	}
	.vid-container::before{
		content: '';
		position: absolute;
		background: rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.vid-text{
		position: absolute;
		top: 43%;
		left: 28%;
		font-size: 32px;
		font-weight: 600;
		font-family: serif;
		color: white;
	}

	.vid-text a{
		text-decoration: none;
		color: white;
		text-align: center;
		font-size: 22px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #aa0707;
		border-radius: 3px;
	}

	.vid-text a:hover{
		background-color: #B71C1C;
	}

	.reservation{
		position: relative;
		height: 360px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0;
	}

	.reservation-overlay{
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
	}

	.reservation-txt{
		position: absolute;
		bottom: 80px;
		right: 30px;
		color: white;
		width: 50%;
	}
	.reservation-txt a{
		color: white;
		background-color: #aa0707;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		text-decoration: none;
		font-size: 18px;
	}

	.reservation-txt a:hover{
		background-color: #B71C1C;
	}

	.car-type{
		font-size: 20px;
		font-weight: 700;
		font-family: serif;
	}
	.car-detail{
		font-size: 19px;
		font-family: serif;
	}
</style>
<div class="container-fluid"id="main">
	<!-- carouasal -->
	<div id="carouselExampleControls"
				class="carousel slide"
				data-bs-ride="carousel">
		<div class="carousel-inner">
			{% for car in carousal_cars %}
				{% if loop.index == 1 %}
					<div class="carousel-item active carousal-img" style="background-image: url({{ url_for('static', filename='img/'+car.strip()) }});">
						<div class="overlay">
							<!-- <img src="{{ url_for('static', filename='img/'+car.strip()) }}" class="" alt="..."> -->
							<div class="carousel-cap">
								<h5>Rent a Car Online Today</h5>
								<p>Plan Your Trip With Skyline Car Rental</p>
								<a class="" href="{{ url_for('show_trip_form') }}">Book Now</a>
							</div>
						</div>
					</div>
				{% else %}
					<div class="carousel-item carousal-img" style="background-image: url({{ url_for('static', filename='img/'+car.strip()) }});">
						<div class="overlay">
							<!-- <img src="{{  url_for('static', filename='img/'+car.strip()) }}" class="" alt="..."> -->
							<div class="carousel-cap">
								<h5>Rent a Car Online Today</h5>
								<p>Plan Your Trip With Skyline Car Rental</p>
								<a class="" href="{{ url_for('show_trip_form') }}">Book Now</a>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	<!-- carouasal -->
</div>
<div class="container">
	<div class="row">
		<div class="col-12 cat-text mt-5">
			<h4>Our Vehicles</h4>
		</div>
	</div>


	<div class="row mt-5">
		<div class="col-md-4">
			<div class="cat-img" style="background-image: url({{ url_for('static', filename='img/1home.png') }});">
				<a href="{{ url_for('all_car') }}?cat=luxury">
					<div class="cat-overlay position-relative">
						<div class="cat-text">
							<h3>Luxury & Convertibles</h3>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-md-4">
			<div class="cat-img" style="background-image: url({{ url_for('static', filename='img/Infiniti QX80 .png') }});">
				<a href="{{ url_for('all_car') }}?cat=suv">
					<div class="cat-overlay position-relative">
						<div class="cat-text">
							<h3>SUVs</h3>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-md-4">
			<div class="cat-img" style="background-image: url({{ url_for('static', filename='img/2home.png') }});">
				<a href="{{ url_for('all_car') }}?cat=small-to-full">
					<div class="cat-overlay position-relative">
						<div class="cat-text">
							<h3>Small to Full Size Cars</h3>
						</div>
					</div>
				</a>
			</div>
		</div>

	</div>

	<div class="row mt-5">
		<div class="col-md-12">
			<div class="position-relative ">
				<h1 class="text-center mb-5">Explore</h1>
				<div class="vid-container">
					<video class="video" autoplay loop  muted>
						<source src="/static/vidoehomepage.mov" type="video/mp4">
						<div class="vid-inner"></div>
					</video>
				</div>
				<div class="position-absolute vid-text">
					<div class="mb-1 pb-1">We are open including major holidays</div>
					<a href="{{ url_for('show_trip_form') }}">Book a Trip Now</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row mt-5">
		<h1 class="text-center mb-4">Feature Vehicles</h1>
		{% for car in fcars %}
  		<div class="col-md-6 mb-3">
  			<div class="car bg-white py-3" style="position: relative;">
  				<div class="row">
  					<div class="col-md-8">
  						<a href="{{ url_for('show_car', car_id=car.car_id) }}">
  							<img src="{{ url_for('static', filename='img/'+car.car_img.strip()) }}"
  								alt=""
  								class="mx-auto d-block mt-3">
  						</a>
  						<!-- <div style="font-size: 12px;" class="text-center">Category: <span>{{car.category}}</span></div> -->
  					</div>
  					<div class="col-md-4 position-relative">
						<div style="" class="car-type"><span class="text-muted"></span> <span>{{car.vehicle_type|capitalize}}</span></div>
  						<div style="" class="mt-3 car-detail"><span class="text-muted">Name:</span> <span>{{car.vehicle_name}}</span></div>
  						<div style="" class="car-detail"><span class="text-muted">MPG:</span> <span>{{car.mpg}}</span></div>
  						<div style="" class="car-detail"><span class="text-muted">Charges/Day:</span> <span>{{car.per_day_charges}}</span></div>
  					</div>
  				</div>
  				<div class="fav" style="position: absolute; left: 15px; bottom: 5px">
  					{% with pageName='homepage' %}
		            	{% include 'partials/_favourite.form.html' %}
		          	{% endwith %}
  				</div>
  				<div class="row">
  					<div class="col-md-7 d-flex">

  					</div>
  					<div class="col-md-5 d-flex">
  						<span class="badge bg-warning text-dark mx-1"
  							style="font-size: 11px;">
  							{{ car.seats }}
  						</span>
  						<span class="badge bg-warning text-dark"
  							style="font-size: 11px;">
  							{{ car.doors }}
  						</span>
						<a href="{{ url_for('show_car', car_id=car.car_id) }}" class="text-decoration-none mx-2 badge bg-success text-dark"
							style="font-size: 11px; color: white !important;">
							view car
						</a>
  					</div>
  				</div>
  			</div>
  		</div>
  		{% endfor %}
	</div>


	<div class="row mt-5 mb-5">
		<div class="col-md-12 reservation mx-0 py-0" style="background-image: url({{ url_for('static', filename='/img/Signuppage.png') }});">
			<div class="reservation-overlay">
				<div class="reservation-txt">
					<h2 class="mx-0">Make a reservation today without any surprises on extra charges at the pick up location</h2>
					<a href="{{ url_for('show_trip_form') }}">Make a Booking Now</a>
				</div>
			</div>
		</div>
	</div>


</div>
{% endblock body %}
