
    <!--<div class="container-fluid">
        <div class="row" . id="map-row">
            <div class="col-4" id="map-div">
                <div id="map"></div>>
                <!--<div id='lat' value='{{response[0]["let"]}}'></div>  
                <div id='long' value='{{response[0]["long"]}}'></div>
            </div>
        </div>
    </div>
    {% endblock %}
    <!--Javascript files imported-->
    
   <!----> <script src="/static/js/maps.js"></script>
    <!--<script async src="https://maps.googleapis.com/maps/api/js?key={{ apikey }}&callback=initmap"></script>
{% endblock %}





<!--https://maps.googleapis.com/maps/api/geocode/json?address=24%20Sussex%20Drive%20Ottawa%20ON&key=AIzaSyAXTEtqT9stsFtXQn8aa2sGUwUG6QCim-A
