{% extends 'base.html' %}

{% block title %}Skyline Car Rental | Register{% endblock %}

{% block body %}
<style>
	/* form.hide-submit input[type="submit"] { display: none;}
	form.hide-submit label:hover {cursor: pointer;} */
  .login-page{
    margin-top: 80px;
  }

  .img-bg{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -9999;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    background-attachment: fixed;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({{url_for('static', filename='img/Signuppage.png')}});
  }

</style>
<div class="img-bg">

</div>
<div class="container-fluid" id="main">
  <div class="h-100" style="">
    <div class="">
      <div class="container login-page">
        <div class="row">
            <!-- <div class="col-lg-4"></div> -->
            <div class="col-md-12 mx-auto">
                <div class="login-container mt-0 mx-auto" style="width: 450px;">
                    <div class="d-flex justify-content-center">
                      <img class="login-img centered-img heading-margin" src="/static/img/profile.jpg">
                    </div>
                    <h2 class="login">Register</h2>
                    <form action="/register"method= "POST">
                      <div class="mb-3">
                          <label for= "inputfname" class="form-label" style="color:#8d9aa5">First Name </label>
                          <input type= "text" name= "fname" class="form-control" id="fname">
                              <div id="fnameHelp" class="form-text"> Enter your first name. </div>
                      </div>

                      <div class="mb-3">
                          <label for= "inputlname" class="form-label" style="color:#8d9aa5">Last Name </label>
                          <input type= "text" name= "lname" class="form-control" id="lname">
                              <div id="fnameHelp" class="form-text"> Enter your Last name. </div>
                      </div>

                      <div class="mb-3">
                          <label for= "inpuEEmail" class="form-label" style="color:#8d9aa5">Email address</label>
                              <input type= "email" name= "email" class="form-control"id="email">
                                  <div id="emailHelp" class="form-text"> Enter a valid email address. </div>
                      </div>

                      <div class= "mb-3">
                          <label for= "inputPassword" class="form-label" style="color:#8d9aa5">Password</label>
                              <input type= "password" name= "password" class="form-control"id="password">
                                  <div id="passwordHelp" class="form-text"> Password must be 8-10 characters long. </div>
                      </div>

                      <div class="mb-3">
                          <label for= "addr" class="form-label" style="color:#8d9aa5">Address </label>
                          <input type= "text" name= "address" class="form-control" id="lname">
                              <div id="fnameHelp" class="form-text"> Enter your Address. </div>
                      </div>

                      <div class="mb-3">
                          <label for= "contact" class="form-label" style="color:#8d9aa5">Contact/Phone </label>
                          <input type= "text" name= "contact" class="form-control" id="lname">
                              <div id="fnameHelp" class="form-text"> Enter your Phone. </div>
                      </div>

                      <button class="btn btn-secondary" type="submit">Register</button>

                    </form>
                <!-- <form action="/login"method= "POST">
                    <div class="mb-3">
                        <label for="inputfname" class="form-label" style= "color:#8d9aa5">Enter First Name</label>
                            <input type="fname" name="fname" class= "form-control" id="fname">
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label" style= "color:#8d9aa5">Email address</label>
                            <input type="email" name="email" class= "form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="inputpassword" class="form-label" style= "color:#8d9aa5">Password</label>
                            <input type="password" name="password" class= "form-control" id="password">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center w-100">
                      <button class="btn btn-success" style="font-size: 19px">Login</button>
                      <div class="mt-2">
                        <a class="dropdown-item" style="color:#8d9aa5" href="/register"> No account! </a>
                      </div>
                    </div>
                </form> -->
            </div>
        </div>
      <div class= "col-lg-4"></div>
      </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
</div>

{% endblock body %}
